<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/styleDashboard.css">
    <title>Loan Apply</title>
</head>

<body>
    <div class="container" id="app">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="./assets/images/favicon.png">
                    <h2>Mindhub<span>Bank</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="./dashboard.html">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Accounts</h3>
                </a>
                <a href="./cardDashboard.html">
                    <span class="material-icons">
                        credit_card
                    </span>
                    <h3>Cards</h3>
                </a>
                <a href="#" class="active">
                    <span class="material-icons">
                        real_estate_agent
                    </span>
                    <h3>Loans</h3>
                </a>
                <a href="./transferMoney.html">
                    <span class="material-icons">
                        paid
                    </span>
                    <h3>Transactions</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>
                <a @click="logout">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Apply for a new loan</h1>

            <!-- Accounts
            <div class="analyse">
                <template v-if="accounts.length > 0" v-for="account in accounts">
                    <div v-if="account.activated">

                        <div class="sales">
                            <div class="status">
                                <div class="info">
                                    <h3>Account number: <span> {{account.number}} </span></h3>
                                    <h1>Balance: <span>{{formatCurrency(account.balance)}}</span></h1>
                                    <div class="buttonsAccounts">
                                        <a :href="'./account.html?id=' + account.id">
                                            <span class="material-icons">
                                                visibility
                                            </span>
                                            Transactions
                                        </a>
                                        <a @click="confirmDeleteAccount(account.id)">
                                            <span class="material-icons">
                                                delete
                                                </span>                                            
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <template v-if="canCreateAccount">
                        <div class="sales">
                            <div class="status">
                                <div class="info newAccount">
                                    <h3>New Account</h3>
                                    <h1>Create</h1>
                                    <span class="material-icons">
                                        savings
                                    </span>
                                </div>
                            </div>
                        </div>
                    </template>
                </template>
            </div> -->


            <!-- End of Accounts -->

            <!-- Loans Section -->
            <div class="new-users">
                <h2>Your Active Loans</h2>
                <div class="user-list">
                    <template v-if="loans.length > 0" v-for="loan in loans">
                        <div class="user">
                            <div class="loanIcons">
                                <span v-if="loan.loanName === 'Student'" class="material-icons">import_contacts</span>
                                <span v-else-if="loan.loanName === 'Mortgage'" class="material-icons">home</span>
                                <span v-else-if="loan.loanName === 'Personal'" class="material-icons">person</span>

                            </div>
                            <h2>{{loan.loanName}}</h2>
                            <p>{{formatCurrency(loan.remainAmount)}}</p>
                            <p>Payments: {{loan.remainPayments}}</p>
                        </div>
                    </template>
                    <template v-if="canApplyForLoan">
                        <div>
                            <div class="user" @click="openLoanModal">
                                <div class="loanIcons">
                                    <span class="material-icons">
                                        add
                                    </span>
                                </div>
                                <h2>New Loan</h2>
                                <p>Apply now</p>
                            </div>
                            <!-- Modal -->
                            <div v-if="showModal" class="modal-overlay">
                                <div class="modal">
                                    <span class="modal-close" @click="closeLoanModal">&times;</span>
                                    <h2>Loan Application</h2>
                                    <div class="transferForm">
                                        <label for="loan-type">Loan Type: </label>
                                        <select v-model="selectedLoanType" id="loan-type" name="loan-type"
                                            class="selector1">
                                            <option v-for="loanType in loanTypes" :value="loanType.id">{{ loanType.name
                                                }}</option>
                                        </select><br>

                                        <label for="loan-installments">Installments: </label>
                                        <select v-model.number="installments" name="loan-installments"
                                            class="selector1">
                                            <option v-for="installment in getInstallments(selectedLoanType)"
                                                :value="installment">{{
                                                installment
                                                }}</option>
                                        </select><br>

                                        <label for="loan-amount">Loan Amount: </label>
                                        <input v-model.number="loanAmount" type="number" id="loan-amount"
                                            name="loan-amount" class="selector1" required><br>

                                        <label for="destination-account">Destination Account: </label>
                                        <select v-model="selectedDestinationAccount" id="destination-account"
                                            name="destination-account" class="selector1">
                                            <option v-for="account in activeAccounts" :value="account.number">{{
                                                account.number }}</option>
                                        </select><br>
                                        <p>Interest Rate: <span>{{ selectedLoanInterest }}</span></p>

                                        <p>Estimated Monthly Payment: <span id="monthly-payment">{{
                                                formatCurrency(estimatedMonthlyPayment)
                                                }}</span></p>

                                        <div class="btnCreateCard">
                                            <button data-bs-toggle="modal"
                                                data-bs-target="#confirmModal">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </template>

                </div>
            </div>

            <!-- End of New Users Section -->

            <!-- Recent Orders Table -->
            <div class="recent-orders">
                <h2>Types of Loans</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Max. Ammount</th>
                            <th>Installments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="loanType in loanTypes">
                            <tr>
                                <td> {{ loanType.name }} </td>
                                <td> {{formatCurrency(loanType.maxAmount)}} </td>
                                <td> {{loanType.payments}} </td>

                            </tr>
                        </template>
                    </tbody>
                </table>
                <a href="#">Show All</a>
            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>{{ welcomeMessage }}</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="images/profile-1.jpg">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="images/logo.png">
                    <h2>AsmrProg</h2>
                    <p>Fullstack Web Developer</p>
                </div>
            </div>

            <div class="reminders">
                <div class="header">
                    <h2>Reminders</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>

            </div>

        </div>


    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/loan-application.js"></script>
    <script src="./assets/js/darkMode.js"></script>
</body>

</html>