:root {
    --color1: #1848a0;
    --color2: #1c98ed;
    --color3: #ffffff;
}

main {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='613' height='613' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231C98ED' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%231848A0'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}

/* navbar */
#navbarMenu {

    flex: 1;
    display: flex !important;
    gap: 2rem;
    justify-content: space-between !important;
    padding-left: 2rem;
    padding-right: 1rem;

}

a.nav-link {

    color: var(--color1) !important;

    border: none;
    border-radius: 1rem;
}

a.nav-link:hover {
    color: white !important;
    background-color: var(--color1);
    border: none;
    border-radius: 1rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

img {
    width: 12rem !important;
}



/* BTN USER */

#btnUser {
    background-color: #ffffff !important;
    color: var(--color1) !important;
}

.dropdown-item {
    font-weight: bold !important;
    font-size: 1rem;
    color: #1848a0;
}

a.dropdown-item:hover {
    color: white !important;
    background-color: var(--color1);
    border: none;

    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* welcome banner */

.welcomeBanner {
    background: rgb(9, 9, 121);
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(9, 9, 121, 0.835171568627451) 37%, rgba(95, 218, 241, 1) 100%);
    color: white;
}

.message {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem;
}


/* loader */
.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: #076fe5;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}

@keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}

/* your accounts */

.GFG {
    color: var(--color1);
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color2);
}



/* cards */

.cardInfo:hover {
    transform: scale(1.05);
    border: #ffffff;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.12), 0 4px 8px rgba(255, 255, 255, 0.06);

}


#cardData {
    padding-top: 2rem;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;

}

.cardInfo {

    width: 20rem;
    height: 13rem;
    border-width: var(--color1);
    border: #1848a0;
    border-radius: 1rem;
    flex: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background: rgb(9, 9, 121);
    color: white;
}

.cardInfoAccount {
    width: 20rem;
    height: 10rem;
    border-width: var(--color1);
    border: #1848a0;
    border-radius: 1rem;
    flex: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background: rgb(9, 9, 121);
    color: white;
}

.card-title {
    padding-left: 1rem;
    padding-top: .5rem;
    font-weight: lighter;

}

.btnCard {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.balance {
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-size: 2rem;
}

/* Table */

td {
    color: #1848a0 !important;
    text-align: center;
}


main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

/* home */

/* header home */
.header-blue {
    background: linear-gradient(135deg, #172a74, #21a9af);
    background-color: #184e8e;
    padding-bottom: 15px;

}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}


@media (min-width:768px) {
    .header-blue {
        padding-bottom: 10px;
    }
}

.header-blue .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

@media (min-width:768px) {
    .header-blue .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.header-blue .navbar .navbar-brand {
    font-weight: bold;
    color: inherit;
}

.header-blue .navbar .navbar-brand:hover {
    color: #f0f0f0;
}

.header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: .5rem;
}

@media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
        border-color: transparent;
        margin: 0;
    }
}

.header-blue .navbar .navbar-collapse span .login {
    color: #d9d9d9;
    margin-right: .5rem;
    text-decoration: none;
}

.header-blue .navbar .navbar-collapse span .login:hover {
    color: #fff;
}

.header-blue .navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.3);
}

.header-blue .navbar .navbar-toggler:hover,
.header-blue .navbar-toggler:focus {
    background: none;
}

.header-blue .navbar .navbar-nav a.active,
.header-blue .navbar .navbar-nav>.show .dropdown-item {
    background: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem;
    }
}

@media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

.header-blue .navbar .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 2px;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #37434d;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background: #ebeff1;
}

.header-blue .action-button,
.header-blue .action-button:not(.disabled):active {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none;
}

.header-blue .action-button:hover {
    color: #fff;
}

.header-blue .navbar .form-inline label {
    color: #d9d9d9;
}

.header-blue .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #ccc;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s;
}

.device {
    width: 25rem !important;
}

.header-blue .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc;
}

.header-blue .hero {
    margin-top: 20px;
    text-align: center;
}

@media (min-width:768px) {
    .header-blue .hero {
        margin-top: 60px;
        text-align: left;
    }
}

.header-blue .hero h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width:992px) {
    .header-blue .hero h1 {
        margin-top: 190px;
        margin-bottom: 24px;
        line-height: 1.2;
    }
}

.header-blue .hero p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

.header-blue .phone-holder {
    text-align: right;
}

.header-blue div.iphone-mockup {
    position: relative;
    max-width: 300px;
    margin: 20px;
    display: inline-block;
}

.header-blue .iphone-mockup img.device {
    width: 100%;
    height: auto;
}

.header-blue .navbar .form-inline .search-field {

    border-bottom: 1px solid white !important;

}



.header-blue .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    /* border: 1px solid #444;
    background-color: #aaa; */
    overflow: hidden;
    /* background: url(../../assets/images/cards.png); */
    background-size: cover;
    background-position: center;
}

/* .header-blue .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2;
} */

@media only screen and (max-width: 450px) {
    #collapsable {
        display: none !important;
    }

    img {
        width: 8rem !important;
    }
}

/* footer */

.footer-10 {
    background: #1848a0;
    padding: 0 0 4em 0;
}

.footer-10 .border-top,
.footer-10 .border-bottom {
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.footer-10 .footer-heading {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

.footer-10 p {
    color: rgba(255, 255, 255, 0.3);
}

.footer-10 a {
    color: #1089ff;
}

.footer-10 .con.con-1 {
    background: #1c98ed;
}

.footer-10 .con.con-2 {
    background: #ffffff;
}

.footer-10 .con.con-3 {
    background: #1c98ed;
}

.footer-10 .list-unstyled li a {
    color: #007bff;
}

.footer-10 .list-unstyled li a:hover {
    color: #fff;
}

.footer-10 .con-info .icon {
    width: 50px;
    height: 50px;
    background: #002752;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.footer-10 .con-info .icon span {
    color: #fff;
    font-size: 24px;
}

.footer-10 .con-info span {
    color: #002752;
}

.footer-10 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

.footer-10 .subscribe-form .form-group input {
    background: white !important;
    border: none !important;
    outline: none !important;
    color: rgba(0, 0, 0, 0.3) !important;
    font-size: 16px;
    border-radius: 0;
}

.footer-10 .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.3) !important;
}

.footer-10 .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3) !important;
}

.footer-10 .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.3) !important;
}

.footer-10 .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3) !important;
}

.footer-10 .subscribe-form .form-group input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer-10 .subscribe-form .form-group .submit {
    color: #fff !important;
    display: block;
    width: 130px;
    height: 52px;
    font-size: 16px;
    background: #1089ff !important;
    border: none;
    border-radius: 0;
}

.footer-10 .subscribe-form .form-group .submit:hover,
.footer-10 .subscribe-form .form-group .submit:focus {
    text-decoration: none !important;
    outline: none !important;
}

.footer-10 .subscribe-form .subheading {
    display: inline-block;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 13px;
}

.footer-10 .ftco-footer-social {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 1rem;
    justify-content: end;
}

.footer-10 .ftco-footer-social a {

    color: #fff;

}

/* button home */

.btnsLine {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

#btnHome {
    width: 10rem;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnHome:hover {
    background-color: #002752;
}


/* cards home */

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    width: max-content;
}

.card {
    
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
    height: 20rem;
    width: 20em;
    font-size: 1.2rem;
    color: white;
    border-radius: 1em;
    padding: 1em;    
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em blue;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid var(--color2);
    text-decoration: none;
}

.card:hover {
    transform: rotate(0);
}

.card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.card p {
    font-size: 1rem;    
    margin-top: 0.5em;
    line-height: 2em;
}

.card .tags {
    display: flex;
}

.card .tags .tag {
    font-size: 0.75em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
}

.card:hover .tags .tag {
    background: var(--color2);
    color: white !important;
}

.card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.card:before,
.card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
}

.card:after {
    background: var(--color1);
    width: 200%;
    height: 200%;
}

.card:hover {
    color: white;
}

.card:hover:before,
.card:hover:after {
    transform: scale(1);
}

.card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }

    .info {
        justify-content: center;
    }

    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }

    .card {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px) {
    .info {
        display: block;
        text-align: center;
    }

    .info h1 {
        margin: 0;
    }
}